body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
p,
li,
a {
  font-size: 18px;
  color: #000;
}
.hero-section {
  overflow: hidden;
  position: relative;
  /* background: url(../images/jenson-hero-section-bg.jpg) no-repeat; */
  height: 802px;
  padding-top: 40px;
}
.hero-section .fixed-top {
  top: 20px;
}
.scrolled.fixed-top {
  top: 0px;
}
section.hero-section:before {
  background-color: #4403e5;
  height: 1273px;
  content: "";
  position: absolute;
  width: 2300px;
  border-radius: 666px;
  transform: rotate(151deg);
  top: -93%;
  left: -10%;
  z-index: -11;
  box-shadow: -87px 28px 0px 88px rgba(237, 237, 237, 1);
  -webkit-box-shadow: -87px 28px 0px 88px rgb(237 237 237);
  -moz-box-shadow: -87px 28px 0px 88px rgba(237, 237, 237, 1);
}
section.hero-section:after {
  height: 1273px;
  content: "";
  position: absolute;
  width: 2300px;
  border-radius: 666px;
  transform: rotate(151deg);
  top: -93%;
  left: -10%;
  z-index: -11;
  mix-blend-mode: multiply;
  background-image: url(../images/home-bg.jpg);
}
/* Left Section */
.profile-details h2 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5px;
  font-size: 40px;
}
.profile-details h1 {
  font-size: 70px;
  color: #fff;
}
.profile-details h3 {
  font-size: 30px;
  color: #fff;
  padding-bottom: 30px;
}
.top-lftsec,
.top-rgtsec {
  align-self: center;
}
/* Right Section */

.hero-section-img {
  position: relative;
  margin-top: 80px;
}
.hero-section-img:after {
  content: "";
  position: absolute;
  border: 15px solid #fed73e;
  height: 100px;
  width: 100px;
  border-radius: 60px;
  left: 0%;
  top: 14%;
}
.happy-satisfied {
  background-color: white;
  padding: 20px;
  position: absolute;
  top: 59%;
  border-radius: 20px;
  width: 33%;
  left: -6%;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
}
.top-rgtsec h3 {
  color: #6928e6;
  font-weight: 700;
  font-size: 30px;
}
/* Buttom Section */
.cv-btntop {
  padding: 10px 30px;
  border-radius: 50px;
  background: linear-gradient(90deg, #4219dc, #973af1);
  display: inline-block;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  border: none;
  user-select: none;
  cursor: pointer;
  transition: all 100ms linear;
  position: relative;
  box-shadow: inset 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.cv-btntop:active {
  box-shadow: inset 0 0 0 4px #043b3f6b;
}

.cv-btntop::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #973af1, #4219dc);
  position: absolute;
  border-radius: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  transition: all 500ms ease-in-out;
  opacity: 0;
  animation: flash 100ms ease-in-out;
  transform: scaleX(2) scaleY(2);
}

.cv-btntop:hover::before {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

@keyframes flash {
  0% {
    opacity: 1;
    transform: translate(45px);
  }
  100% {
    opacity: 0;
    transform: translate(0);
  }
}
.mono-color {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  margin-left: 20px;
}
.mono-color:hover {
  border: 1px solid transparent;
}
.about-me {
  padding: 40px 0;
}
.about-bg {
  background: url(../images/about_shap_bg-new.png) no-repeat;
  width: 427px;
  height: 265px;
  position: relative;
  align-self: center;
}
.about-me h4 {
  font-size: 45px;
  font-weight: 600;
  position: absolute;
  bottom: 25%;
  right: 5%;
  padding-bottom: 10px;
}
.row{justify-content: center;}
.about-desc {
  align-self: center;
  padding: 0 40px;
}
.experiences {
  padding: 40px 0;
  text-align: center;
}

.compay-title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 28px;
  margin-bottom: 0;
}
.compay-title a {
  color: #4219dc;
  text-decoration: none;
  font-size: 28px;
}
.contant-ul {
  list-style: none;
  padding: 20px;
  text-align: left;
  position: relative;
}
.contant-ul > li:first-child {
  padding-bottom: 50px;
}
.contant-ul p {
  margin-bottom: 0;
}
.contant-ul li {
  font-weight: 600;
  padding-bottom: 10px;
}
.contant-ul span {
  position: absolute;
  left: 30%;
  font-weight: normal;
}
.exp-details {
  text-align: left;
}
.exp-year {
  float: right;
  color: #808080;
}
.project {
  padding: 40px 0;
  text-align: center;
  background: linear-gradient(90deg, #efe3fe, #dfeef9);
}
h4 {
  font-size: 40px;
  font-weight: 600;
  position: relative;
  display: inline-block;
  padding: 30px 0 10px;
}
h4::before {
  position: absolute;
  content: "";
  top: 0;
  left: 45%;
  width: 30px;
  height: 30px;
  background: url(../images/dots.png);
}
h4::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 25%;
  width: 100px;
  height: 4px;
  background: #feb633;
}
.prog-desc{
  text-align: left;
}
.prog-desc h5{padding-bottom: 10px;}
.domain {
  font-size: 25px;
  padding-top: 20px;
}
.domain span {
  color: #4219dc;
  font-weight: 600;
}
.proj-ul {
  text-align: left;
  line-height: 40px;
  list-style: none;
}
.proj-ul li {
  position: relative;
  line-height: 25px;
  padding-bottom: 20px;
}
.proj-ul li::before {
  content: "";
  position: absolute;
  background: url(../images/point.png) no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 4px;
  left: -28px;
}
.skills {
  padding: 40px 0;
  text-align: center;
}
.skills h4::after {
  left: 0%;
}

.circle-wrap {
  display: grid;
  grid-template-columns: repeat(1, 160px);
  grid-gap: 80px;
  width: 150px;
  height: 150px;
  background: #d9d7da;
  border-radius: 50%;
  margin: auto;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 73px);
}

.circle-wrap .inside-circle {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: #fff;
  line-height: 120px;
  text-align: center;
  margin-top: 13px;
  margin-left: 13px;
  color: white;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
  position: relative;
}
.program-process {
  position: absolute;
  top: 25%;
  left: 28%;
  line-height: 30px;
}
.mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #ff7816;
}

.mask.full-1,
.circle .fill-1 {
  animation: fill-1 ease-in-out 3s;
  transform: rotate(160deg);
}

@keyframes fill-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(160deg);
  }
}
.css .mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #2196f3;
}

.css .mask.full-1,
.css .circle .fill-1 {
  animation: fill-css ease-in-out 3s;
  transform: rotate(150deg);
}
@keyframes fill-css {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(150deg);
  }
}
.javascript .program-process {
  left: 16%;
}
.javascript .mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #ffdf00;
}
.javascript .mask.full-1,
.javascript .circle .fill-1 {
  animation: fill-js ease-in-out 3s;
  transform: rotate(100deg);
}
@keyframes fill-js {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(100deg);
  }
}

.bootstrap .program-process {
  left: 16%;
}
.bootstrap .mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #5e3b7f;
}
.bootstrap .mask.full-1,
.bootstrap .circle .fill-1 {
  animation: fill-bs ease-in-out 3s;
  transform: rotate(150deg);
}
@keyframes fill-bs {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(150deg);
  }
}

.wordpress .program-process {
  left: 14%;
}
.wordpress .mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #00769d;
}
.wordpress .mask.full-1,
.wordpress .circle .fill-1 {
  animation: fill-wp ease-in-out 3s;
  transform: rotate(150deg);
}
@keyframes fill-wp {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(150deg);
  }
}

.photoshop .program-process {
  left: 14%;
}
.photoshop .mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #001834;
}
.photoshop .mask.full-1,
.photoshop .circle .fill-1 {
  animation: fill-ps ease-in-out 3s;
  transform: rotate(130deg);
}
@keyframes fill-ps {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(130deg);
  }
}

.figma .mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #00cf7f;
}
.figma .mask.full-1,
.figma .circle .fill-1 {
  animation: fill-fa ease-in-out 3s;
  transform: rotate(130deg);
}
@keyframes fill-fa {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(130deg);
  }
}
.illustrator .program-process {
  left: 16%;
}
.illustrator .mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #390000;
}
.illustrator .mask.full-1,
.illustrator .circle .fill-1 {
  animation: fill-is ease-in-out 3s;
  transform: rotate(80deg);
}
@keyframes fill-is {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(80deg);
  }
}
.webflow .program-process {
  left: 19%;
}
.webflow .mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #4353ff;
}
.webflow .mask.full-1,
.webflow .circle .fill-1 {
  animation: fill-wf ease-in-out 3s;
  transform: rotate(100deg);
}
@keyframes fill-wf {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(100deg);
  }
}
.lang-txt {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}
.program-img {
  display: block;
  background: url(../images/language-logo.png) no-repeat;
  width: 50px;
  height: 50px;
  margin: auto;
}
.css .program-img {
  background: url(../images/language-logo.png) no-repeat 12% 0;
}
.javascript .program-img {
  background: url(../images/language-logo.png) no-repeat 25% 0;
}
.bootstrap .program-img {
  background: url(../images/language-logo.png) no-repeat 37.5% 0;
}
.wordpress .program-img {
  background: url(../images/language-logo.png) no-repeat 50% 0;
}
.photoshop .program-img {
  background: url(../images/language-logo.png) no-repeat 62.5% 0;
}
.figma .program-img {
  background: url(../images/language-logo.png) no-repeat 75% 0;
}
.illustrator .program-img {
  background: url(../images/language-logo.png) no-repeat 87.5% 0;
}
.webflow .program-img {
  background: url(../images/language-logo.png) no-repeat 100% 0;
}
.comn-lagcl {
  padding: 20px 0;
}
.skills .exp-title {
  margin-bottom: 20px;
}
.skills .exp-title::before {
  left: 35%;
}
.skills .row {
  justify-content: center;
}
.education {
  text-align: center;
}
.education .row {
  justify-content: center;
}
.navbar-default {
  transition: 500ms ease;
  background: transparent;
}
.navbar-default.scrolled {
  background: #fff;
}

.hero-section .navbar-default a {
  color: #fff;
}
.hero-section .navbar-default.scrolled a {
  color: #000;
}
.hero-section .navbar-expand-lg .navbar-collapse {
  flex-direction: row-reverse;
}
.hero-section .navbar-default.scrolled .nav-btn {
  color: #fff;
}
.nav-btn {
  background: linear-gradient(90deg, #973af1, #4219dc);
  border-radius: 50px;
  margin-left: 20px;
}
.sep-link:after {
  content: "";
  border-right: 1px solid #fff;
  padding-right: 20px;
}
.hero-section .navbar-default.scrolled .sep-link:after {
  border-right: 1px solid #000;
}
.education {
  padding: 40px 0;
}
a.nav-link.sep-link.active {
  border-bottom: 1px solid #4219dc;
}
.roles {
  padding: 40px 0px;
  text-align: center;
}
.roles h4 {
  margin-bottom: 40px;
}
.roles h4::after {
  left: 40%;
}
.accord-tab h5 button {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}
.accord-tab .accordion-button:not(.collapsed) {
  background: linear-gradient(90deg, #efe3fe, #dfeef9);
}
.accord-tab ul {
  margin-bottom: 0;
}
.accord-tab .accordion-body {
  padding-bottom: 0;
}
.accord-tab .proj-ul li::before {
  top: 3px;
}
.accord-tab .accordion-button:focus {
  box-shadow: none;
}
.footer-section {
  padding: 40px 0;
  text-align: center;
  background: linear-gradient(90deg, #4219dc, #973af1);
}
.footer-section p {
  color: #fff;
  padding-top: 20px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.hero-section .navbar-toggler {
  border: none;
}
.hero-section .navbar-toggler:focus {
  box-shadow: none;
}
.hero-section .navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
  background: url(../images/nav-logos.png) no-repeat 0 0;
}
.hero-section .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: url(../images/nav-logos.png) no-repeat -51px 0;
}
.hero-section
  .scrolled
  .navbar-toggler[aria-expanded="false"]
  .navbar-toggler-icon {
  background: url(../images/nav-logos-black.png) no-repeat 0 0;
}
.hero-section
  .scrolled
  .navbar-toggler[aria-expanded="true"]
  .navbar-toggler-icon {
  background: url(../images/nav-logos-black.png) no-repeat -51px 0;
}

@media only screen and (max-width: 992px) {
  section.hero-section:before,
  section.hero-section:after {
    top: -72%;
    left: -46%;
  }
  .hero-section {
    height: auto;
  }
  .hero-section-img {
    text-align: center;
    margin-top: 40px;
  }
  .top-lftsec {
    text-align: center;
    margin-top: 60px;
  }
  .hero-section #navbarNav {
    background: #fff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
  }
  .hero-section .nav-link.nav-btn {
    display: inline;
    margin-left: 0;
    color: #fff;
    padding: 10px;
  }
  .nav-sepbtn {
    margin-top: 10px;
  }
  .hero-section .show a {
    color: #000;
}
.scrolled #navbarNav{
  padding: 0 0 20px;
}
.hero-section .navbar-default.scrolled .sep-link:after{border: none;}
}
.logo-link {
  width: 36px;
  height: 51px;
  background: url(../images/Jenson-logo.png) no-repeat 0 0;
}
.logo-link {
  width: 36px;
  height: 51px;
  background: url(../images/Jenson-logo.png) no-repeat 0 0;
}
.scrolled .logo-link {
  background-position-y: 2px;
  background-position-x: -46px;
}
@media only screen and (max-width: 550px){
  .profile-details h1 {
    font-size: 50px;
}
.profile-details h2{
  font-size: 30px;
}
.profile-details h3{ font-size: 25px;padding-bottom: 10px;}
.cv-btntop {
  font-size: 18px;
  width: 190px;
  margin-bottom: 20px;
}
.hero-section-img{margin-top: 10px;}
.cv-btntop.mono-color {
  margin-left: 0;
}
section.hero-section:before {
  top: -112%;
  box-shadow: -55px 28px 0px 88px rgba(237, 237, 237, 1);
  -webkit-box-shadow: -55px 28px 0px 88px rgb(237 237 237);
  -moz-box-shadow: -55px 28px 0px 88px rgba(237, 237, 237, 1);
}
section.hero-section:after{  top: -112%;}
.hero-section-img:after{
  height: 70px;
  width: 70px;
  border: 8px solid #fed73e;
}
.happy-satisfied{
  width: 63%;
  left: 0%;
}
.top-rgtsec h3{
  font-size: 25px;
}
.top-rgtsec p{
  font-size: 14px;
}
.row{margin-left: 0;margin-right: 0;}
.about-desc{padding: 10px;}
.container{padding: 20px;}
.exp-year {
  display: block;
  float: none;
  padding-top: 10px;
}
.about-me, .reveal{
  padding: 0;
}
}
img.profile-img {
  width: 100%;
}
