body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
p,
li,
a {
  font-size: 18px;
  color: #000;
}
.hero-section {
  overflow: hidden;
  position: relative;
  /* background: url(../images/jenson-hero-section-bg.jpg) no-repeat; */
  height: 802px;
  padding-top: 40px;
}
.hero-section .fixed-top {
  top: 20px;
}
.scrolled.fixed-top {
  top: 0px;
}
section.hero-section:before {
  background-color: #4403e5;
  height: 1273px;
  content: "";
  position: absolute;
  width: 2300px;
  border-radius: 666px;
  transform: rotate(151deg);
  top: -93%;
  left: -10%;
  z-index: -11;
  box-shadow: -87px 28px 0px 88px rgba(237, 237, 237, 1);
  -webkit-box-shadow: -87px 28px 0px 88px rgb(237 237 237);
  -moz-box-shadow: -87px 28px 0px 88px rgba(237, 237, 237, 1);
}
section.hero-section:after {
  height: 1273px;
  content: "";
  position: absolute;
  width: 2300px;
  border-radius: 666px;
  transform: rotate(151deg);
  top: -93%;
  left: -10%;
  z-index: -11;
  mix-blend-mode: multiply;
  background-image: url(../images/home-bg.jpg);
}
.resp-exp{
  display: none;
}
/* Left Section */
.profile-details h2 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5px;
  font-size: 40px;
}
.profile-details h1 {
  font-size: 70px;
  color: #fff;
}
.profile-details h3 {
  font-size: 30px;
  color: #fff;
  padding-bottom: 30px;
}
.top-lftsec,
.top-rgtsec {
  align-self: center;
}
/* Right Section */

.hero-section-img {
  position: relative;
  margin-top: 80px;
}
.hero-section-img:after {
  content: "";
  position: absolute;
  border: 15px solid #fed73e;
  height: 100px;
  width: 100px;
  border-radius: 60px;
  left: 0%;
  top: 14%;
}
.hero-section-img:before {
  content: url(../images/rotate-logos.png);
  position: absolute;
  left: 50%;
  animation: zoomInOut 5s infinite;
}
@keyframes zoomInOut {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7);
    transform: rotate(0deg) scale(0.7);
    opacity: 0;
  }

  50% {
    -webkit-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(360deg) scale(0.7);
    transform: rotate(360deg) scale(0.7);
    opacity: 0;
  }
}
.happy-satisfied {
  background-color: white;
  padding: 20px;
  position: absolute;
  top: 69%;
  border-radius: 10px;
  width: 33%;
  left: -6%;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 50%);
}
.happy-satisfied p{margin-bottom: 0;}
.top-rgtsec h3 {
  color: #6928e6;
  font-weight: 700;
  font-size: 30px;
}

/* Buttom Section */
.cv-btntop {
  padding: 10px 30px;
  border-radius: 50px;
  background: linear-gradient(90deg, #4219dc, #973af1);
  display: inline-block;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  border: none;
  user-select: none;
  cursor: pointer;
  transition: all 100ms linear;
  position: relative;
  box-shadow: inset 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.cv-btntop:active {
  box-shadow: inset 0 0 0 4px #043b3f6b;
}

.cv-btntop::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #973af1, #4219dc);
  position: absolute;
  border-radius: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  transition: all 500ms ease-in-out;
  opacity: 0;
  animation: flash 100ms ease-in-out;
  transform: scaleX(2) scaleY(2);
}

.cv-btntop:hover::before {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

@keyframes flash {
  0% {
    opacity: 1;
    transform: translate(45px);
  }
  100% {
    opacity: 0;
    transform: translate(0);
  }
}
.mono-color {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  margin-left: 20px;
}
.mono-color:hover {
  border: 1px solid transparent;
}
.about-me {
  padding: 40px 0;
}
.about-bg {
  background: url(../images/about_shap_bg-new.png) no-repeat;
  width: 427px;
  height: 265px;
  position: relative;
  align-self: center;
}
.about-me h4 {
  font-size: 45px;
  font-weight: 600;
  position: absolute;
  bottom: 25%;
  right: 5%;
  padding-bottom: 10px;
}
.row{justify-content: center;}
.about-desc {
  align-self: center;
  padding: 0 40px;
}
.experiences {
  padding: 40px 0;
  text-align: center;
  background: linear-gradient(90deg, #efe3fe, #dfeef9);
}
.contact-icon {
  padding-left: 30px;
  background: url(../images/contact-icon.png) no-repeat 0px -45px;
}
.contact-icon.phone {
  background-position-y: -21px;
}
.contact-icon.email {
  background-position-y: 5px;
}
.contact-icon a{
  text-decoration: none;
}
.contact-icon .contact-hover:hover{
  background: -webkit-linear-gradient(90deg, #973af1, #4219dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-icon {
  position: relative;
}
.contact-icon .tooltip-address::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.contact-icon .tooltip-address:hover::after {
  opacity: 1;
  bottom: -60%;
}
.compay-title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 28px;
  margin-bottom: 0;
}
.contanct-social {
  list-style: none;
  padding: 0;
  text-align: left;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}
.exp-ul{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.exp-ul li{
  padding-left: 30px;
  background: url(../images/bullet-points.png) no-repeat 0 4px;
  padding-bottom: 15px;
}
.exp-ul > li:last-child {
  padding-bottom: 0;
}
.contanct-social li{
  display: inline-block;
}
.contanr-icon {
  border: 1px solid transparent;
  padding: 3px;
  border-radius: 50px;
}
.contanr-icon:hover {
  border: 1px solid #1D63F8;
}
.contanr-icon.dribble:hover {
  border: 1px solid #D42162;
}
.contanr-icon.linkedin:hover {
  border: 1px solid #007AB9;
}
.compay-title a {
  color: #4219dc;
  text-decoration: none;
  font-size: 28px;
}
.contant-ul {
  list-style: none;
  padding: 20px;
  text-align: left;
  position: relative;
  margin-bottom: 0;
}
.contant-ul > li:first-child {
  padding-bottom: 40px;
}
.contant-ul p {
  margin-bottom: 0;
}
.contant-ul li {
  font-weight: 600;
  padding-bottom: 10px;
}
.contant-ul span {
  position: absolute;
  left: 30%;
  font-weight: normal;
}
.exp-details {
  text-align: left;
}
.exp-year {
  float: right;
  color: #808080;
}
.project {
  padding: 40px 0;
  text-align: center;
  background: linear-gradient(90deg, #efe3fe, #dfeef9);
}
h4 {
  font-size: 40px;
  font-weight: 600;
  position: relative;
  display: inline-block;
  padding: 30px 0 10px;
}
h4::before {
  position: absolute;
  content: "";
  top: 0;
  left: 45%;
  width: 30px;
  height: 30px;
  background: url(../images/dots.png);
}
h4::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 25%;
  width: 100px;
  height: 4px;
  background: #feb633;
}
.prog-desc{
  text-align: left;
}
.prog-desc h5{padding-bottom: 10px;}
.domain {
  font-size: 25px;
  padding-top: 20px;
}
.domain span {
  color: #4219dc;
  font-weight: 600;
}
.proj-ul {
  text-align: left;
  line-height: 40px;
  list-style: none;
  padding-left: 20px;
}
.proj-ul li {
  position: relative;
  line-height: 25px;
  padding-left: 30px;
  background: url(../images/bullet-points-project.png) no-repeat 0 4px;
  padding-bottom: 20px;
}
.col-lg-12:last-child .proj-ul{margin-bottom: 0;}
.col-lg-12:last-child .proj-ul > li:last-child {
  padding-bottom: 0;
}
.skills {
  padding: 40px 0;
  text-align: center;
}
.skills h4::after {
  left: 23%;
}
.skill-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.skills-use .skill-lang{
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 10px 30px;
}
.skills-use img{
  display: block;
    margin: auto;
}
.skills-use .html{
  border-color: #FF4B00;
}
.skills-use .css{
  border-color: #2196F3;
}
.skills-use .javascript{
  border-color: #FFDF00;
}
.skills-use .jquery{
  border-color: #104C76;
}
.skills-use .bootstrap{
  border-color: #5E3B7F;
}
.skills-use .bulma{
  border-color: #00D1B2;
}
.skills-use .wordpress{
  border-color: #00769D;
}
.skills-use .divi{
  border-color: #9834EF;
}
.skills-use .webflow{
  border-color: #4353FF;
}
.skills-use .photoshop{
  border-color: #001834;
}
.skills-use .illustrator{
  border-color: #390000;
}
.skills-use .figma{
  border-color: #00CF7F;
}
.skills-use .responsive{
  border-color: #000;
}
.skills-use .browser{
  border-color: #000;
}
.skills-use p{margin-bottom: 0;}
.comn-lagcl {
  padding: 20px 0;
}
.skills .exp-title {
  margin-bottom: 20px;
}
.skills .exp-title::before {
  left: 35%;
}
.work-exp::after {
  left: 35%;
}
.skills .row {
  justify-content: center;
}
.education {
  text-align: center;
}
.education .row {
  justify-content: center;
}
.navbar-default {
  transition: 500ms ease;
  background: transparent;
}
.navbar-default.scrolled {
      background-color: #f7f8fe;
}
.hero-section .navbar-default a {
  color: #fff;
}
.hero-section .navbar-default.scrolled a {
  color: #000;
}
.hero-section .navbar-expand-lg .navbar-collapse {
  flex-direction: row-reverse;
}
.hero-section .navbar-default.scrolled .nav-btn {
  color: #fff;
}
.nav-btn {
  background: linear-gradient(90deg, #973af1, #4219dc);
  border-radius: 50px;
  margin-left: 20px;
}
.sep-link:after {
  content: "";
  border-right: 1px solid #fff;
  padding-right: 20px;
}
.hero-section .navbar-default.scrolled .sep-link:after {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.education {
  padding: 40px 0;
}
a.nav-link.sep-link.active {
  border-bottom: 1px solid #4219dc;
}
.roles {
  padding: 40px 0px;
  text-align: center;
}
.roles h4 {
  margin-bottom: 40px;
}
.roles h4::after {
  left: 40%;
}
.accord-tab h5 button {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}
.accord-tab .accordion-button:not(.collapsed) {
  background: linear-gradient(90deg, #efe3fe, #dfeef9);
}
.accord-tab ul {
  margin-bottom: 0;
}
.accord-tab .accordion-body {
  padding-bottom: 20px;
}
.accord-tab .proj-ul li::before {
  top: 3px;
}
.accord-tab .accordion-button:focus {
  box-shadow: none;
}
.footer-section {
  padding: 40px 0 20px;
  text-align: center;
  background: linear-gradient(90deg, #4219dc, #973af1);
}
.footer-section p {
  color: #fff;
  padding-top: 20px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.hero-section .navbar-toggler {
  border: none;
}
.hero-section .navbar-toggler:focus {
  box-shadow: none;
}
.hero-section .navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
  background: url(../images/nav-logos.png) no-repeat 0 0;
}
.hero-section .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: url(../images/nav-logos.png) no-repeat -51px 0;
}
.hero-section
  .scrolled
  .navbar-toggler[aria-expanded="false"]
  .navbar-toggler-icon {
  background: url(../images/nav-logos-black.png) no-repeat 0 0;
}
.hero-section
  .scrolled
  .navbar-toggler[aria-expanded="true"]
  .navbar-toggler-icon {
  background: url(../images/nav-logos-black.png) no-repeat -51px 0;
}
.footer-section .contanct-social{
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0;
}
.footer-section .contanr-icon:hover{
  border-color: #fff;
}
.footer-section .cv-btntop{
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.footer-section p {
  margin-bottom: 0;
}
@media only screen and (max-width: 992px) {
  section.hero-section:before,
  section.hero-section:after {
    top: -72%;
    left: -46%;
  }
  .hero-section {
    height: auto;
  }
  .hero-section-img {
    text-align: center;
    margin-top: 40px;
  }
  .top-lftsec {
    text-align: center;
    margin-top: 60px;
  }
  .hero-section #navbarNav {
    background: #f7f8fe;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
  }
  .happy-satisfied{
    top: 79%;
    left: 0;
  }
  .top-rgtsec h3{
    font-size: 40px;
  }
  .hero-section .nav-link.nav-btn {
    display: inline;
    margin-left: 0;
    color: #fff;
    padding: 10px;
  }
  .nav-sepbtn {
    margin-top: 10px;
  }
  .hero-section .show a {
    color: #000;
}
.scrolled #navbarNav{
  padding: 0 0 20px;
}
.hero-section .navbar-default.scrolled .sep-link:after{border: none;}
.skills .exp-title::before{    left: 38%;}
.roles .accordion-item{
  border-radius: 0;
  border-top: none;
}
}
.logo-link {
  width: 36px;
  height: 51px;
  background: url(../images/Jenson-logo.png) no-repeat 0 0;
}
.logo-link {
  width: 36px;
  height: 51px;
  background: url(../images/Jenson-logo.png) no-repeat 0 0;
}
.scrolled .logo-link {
  background-position-y: 2px;
  background-position-x: -46px;
}
@media only screen and (max-width: 550px){
  .profile-details h1 {
    font-size: 50px;
}
.profile-details h2{
  font-size: 30px;
}
.profile-details h3{ font-size: 25px;padding-bottom: 10px;}
.cv-btntop {
  font-size: 18px;
  width: 190px;
  margin-bottom: 20px;
  text-align: center;
}
.hero-section-img{margin-top: 10px;}
.cv-btntop.mono-color {
  margin-left: 0;
}
section.hero-section:before {
  top: -112%;
  box-shadow: -55px 28px 0px 88px rgba(237, 237, 237, 1);
  -webkit-box-shadow: -55px 28px 0px 88px rgb(237 237 237);
  -moz-box-shadow: -55px 28px 0px 88px rgba(237, 237, 237, 1);
}
section.hero-section:after{  top: -112%;}
.hero-section-img:after{
  height: 70px;
  width: 70px;
  border: 8px solid #fed73e;
}
.happy-satisfied{
  width: 63%;
  left: 0%;
}
.top-rgtsec h3{
  font-size: 25px;
}
.top-rgtsec p{
  font-size: 14px;
}
.row{margin-left: 0;margin-right: 0;}
.about-desc{padding: 10px;}
.container{padding: 20px;}
.hero-section .container{padding: 0 20px;}
.hero-section-img:before{
  content: url(../images/rotate-logos-mob.png);
}
.contant-ul{
  padding: 20px 0;
}
.contant-ul > li:first-child {
  padding-bottom: 10px;
}
.contanct-social{justify-content: center;}
.contant-ul span{position: static;}
.happy-satisfied{display: none;}
.resp-exp{display: block;}
.exp-year {
  display: block;
  float: none;
  padding-top: 10px;
}
.skills .exp-title::before {
  left: 38%;
}
.proj-ul{
  padding-left: 0;
}
.skills-use{width: 100%;}
.about-me, .reveal{
  padding: 0;
}
.roles .accord-tab, .roles .col-lg-6{padding: 0;}
.roles{padding-bottom: 20px;}
}
img.profile-img {
  width: 100%;
}
